<?xml version='1.0'?>

<robot name="camera" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- camera - LINK -->
  <link name='camera'>
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia
        ixx="1e-6" ixy="0" ixz="0"
        iyy="1e-6" iyz="0"
        izz="1e-6"
      />
    </inertial>

    <collision name='camera_collision'>
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05" />
      </geometry>
    </collision>

    <visual name='camera_visual'>
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.05" />
      </geometry>
    </visual>
  </link>

  <!-- camera + rod JOINT -->
  <joint type="fixed" name="camera_joint">
    <origin xyz="0.045 0 0.075" rpy="0 0 0"/>
    <child link="camera"/>
    <parent link="rod"/>
  </joint>
</robot>